.label {
    font-weight: bold;
    margin-top: 1em;
    display: inline-block;
}
.tip {
    font-size: 0.9em;
    color: grey;
    font-style: italic;
}
.submit {
    color: #f41;
    font-weight: bold;
    border-color: #f41;
    border-radius: 5px;
}
.waiting {
    display:    none;
    position:   fixed;
    z-index:    1000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba( 255, 255, 255, .8 ) 
                url('../img/progress.gif') 
                50% 50% 
                no-repeat;
    background-size: 128px;
}
body.loading .waiting {
    overflow: hidden;
    display: block;
}
#config_fields.disabled {
    opacity: 0.3;
}
#back_action {
    font-size: 1.5em;
    margin-top: 10px;
    margin-bottom: 10px;
    display: inline-block;
    padding: 2px 20px 2px 20px;
    border: 1px solid white;
    border-radius: 5px;
    box-shadow: 1px 1px 1px lightgrey;
    cursor: pointer;
}
#back_action a {
    text-decoration: none;
    color: inherit;
}
.accordion-inner {
    text-align: center;
    color: #E3E3E3;
}