<h1>Joplin configuration</h1>
<h2>Synchronisation</h2>
<span class="toc" style="display: none"></span>
<form method='post' id="config_form">{% csrf_token %}
    <label class="label" for="{{ form.target.id_for_label }}">Synchronisation target</label><br>
    {{ form.target }}
    <div id="config_fields">
        <br><label class="label">Synchronisation url</label><br>
        {{ form.path }}{{ form.message.errors }}<br>
        <span class="tip">Url is like that: https://your.nextcloud.com/remote.php/dav/files/user/Documents/JoplinSynchro</span>
        <br><label class="label" for="{{ form.username.id_for_label }}">Username</label><br>
        {{ form.username }}<br>
        <br><label class="label" for="{{ form.password.id_for_label }}">Password</label><br>
        {{ form.password }}<br>
        <br><label class="label" for="{{ form.interval.id_for_label }}">Interval</label><br>
        {{ form.interval }}
    </div>
    <br><br><br>
    <input id="test_btn" type="button" value="Test">
    <input class="submit" type="submit" value="Save">
</form>

<!-- Test config success -->
<span id="config_joplin_popup_test_success" class="modal">
    <div class="popup_title">Configuration test</div>
    <p>Success: connection and write / delete rights.</p>
</span>

<!-- Save config success -->
<span id="config_joplin_popup_save_success" class="modal">
    <div class="popup_title">Configuration save</div>
    <p>Configuration successfully saved</p>
</span>
